.custom-search-bar {
  border-radius: 25px;
  border: 1px solid #ddd;
  padding: 10px 20px;
}

.promo-banner {
  background-color: #e23744; 
  border-radius: 20px;
  color: white;
  padding: 20px;
  margin: 15px 0;
}

.food-card-horizontal {
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  margin-bottom: 15px;
  overflow: hidden;
}

.order-btn {
  background-color: #2b5876;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}
.food-card {
  width: 300px;        
  height: 220px;       
  overflow: hidden;    
  border-radius: 12px;
}

.food-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
}