.login-container {
  height: 80vh; /* Centers the card vertically on the screen */
}

.login-card {
  width: 100%;
  max-width: 400px;
  background: white;
  border-radius: 25px;
}

.custom-input {
  border-radius: 10px;
  padding: 12px;
  border: 1px solid #ddd;
}

.login-btn {
  background-color: #2b5876;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-weight: bold;
}

.login-btn:hover {
  background-color: #1e3f56;
}